<h4 class="text-center">K-Means Algorithm</h4>
<div class="wrapper">
  <div class="action-area">
    <div>
      <label for="numberOfEntries">Number of entries: </label>
      <input
        id="numberOfEntries"
        type="number"
        [(ngModel)]="numberOfEntries"
        min="1"
      />
    </div>
    <button class="btn btn-dark" [disabled]="started" (click)="initialize()">
      Initialize
    </button>
    <div>
      <label for="NumberOfClasses">Number of Classes: </label>
      <input
        [(ngModel)]="NumberOfClasses"
        id="NumberOfClasses"
        type="number"
        min="1"
        (change)="numberOfClassesChanges()"
      />
    </div>
    <button
      class="btn btn-dark"
      [disabled]="started || !initialized"
      (click)="randomizeCenters()"
    >
      Randomize Centers
    </button>
    <button
      class="btn btn-primary"
      [disabled]="started || !initialized || !randomized"
      (click)="start()"
    >
      Start
    </button>
    <button class="btn btn-warning" [disabled]="!started" (click)="stop()">
      Stop
    </button>
  </div>
  <canvas height="300" width="300" #canvas></canvas>
  <h6 *ngIf="index > 0" class="text-center">iteration: {{ index }}</h6>
</div>
